#header #logo {
	margin-top: 3px;
}
h1, .h1, .h2, .h3 {
	font-weight: normal;
	text-decoration: none;
}
.h2 > a {
	background-image: none;
	color: #4ee682 !important;
}
.h2 > a:hover {
	text-decoration: none !important;
	background-image: none !important;
}
h1, h2, h3, .h1, .h2, .h3, #header #nav ul a {
	color: #4ee682;
	text-decoration: none;
}
.content.index {
	padding-top: 80px;
	padding-bottom: 40px;
}
.content a {
	text-decoration: none;
	color: #ffffff;
	background-image: none;
}
.content a.icon:hover {
	color: #4ee682;
}
.content a:hover {
	color: #4ee682;
	background-image: none;
}
.content img {
	border-radius: 4px;
	opacity: 65%;
	transition: .3s;
}
.content img:hover {
	opacity: 100%;
}
hr {
	margin: 3px 0px;
	border: 1px dashed #2b824a;
}
article .content h2::before {
	content: "";
}

/* code */
pre {
	background-color: transparent !important;
	border: 1px dashed #2b824a !important;
	padding: 25px 35px !important;
	
}
p code {
	border: 1px dashed #38b062;
}
pre code {
	text-wrap: wrap;
}
@media screen and (max-width: 768px) {
	pre code {
		text-wrap: nowrap;
	}
}
pre code span {
	color: #4ee682 !important;
}
pre .code-copy-btn {
	background-color: transparent;
	font-weight: normal;
	min-width: initial !important;
	top: 5px;
	right: 10px;
	display: none;
}
pre:hover .code-copy-btn {
	display: block;
}
pre .code-copy-btn:hover {
	background-color: transparent !important;
}
blockquote {
	margin: 0px;
	padding: 8px 20px;
	border-left: 2px solid #2b824a;
	font-size: 12px;
	color: #4ee682;
}
blockquote > p {
	margin: 0px;
}
