#header #logo {
	margin-top: 3px;
}
h1, .h1, .h2, .h3 {
	font-weight: normal;
	text-decoration: none;
}
.h2 > a {
	background-image: none;
	color: #4ee682 !important;
}
.h2 > a:hover {
	text-decoration: none !important;
	background-image: none !important;
}
h1, h2, h3, .h1, .h2, .h3, #header #nav ul a {
	color: #4ee682;
	text-decoration: none;
}
article.post a {
	font-weight: 700;
}
article.post a:hover {
	text-decoration: underline;
}
.content.index {
	padding-top: 20px;
	padding-bottom: 80px;
}
.content.post-content {
	padding-top: 80px;
	padding-bottom: 80px;
}
.content a {
	text-decoration: none;
	color: #ffffff;
	background-image: none;
}
.content a.icon:hover {
	color: #4ee682;
}
.content a:hover {
	color: #4ee682;
	background-image: none;
}
.content img {
	border-radius: 4px;
	opacity: 65%;
	transition: .3s;
}
.content img:hover {
	opacity: 100%;
}
hr {
	margin: 3px 0px;
	border: 1px dashed #2b824a;
}
article .content h2::before {
	content: "";
}

/* code */
pre {
	background-color: transparent !important;
	border: 1px dashed #2b824a !important;
	padding: 25px 35px !important;
	
}
p code {
	border: 1px dashed #38b062;
	white-space: nowrap;
}
pre code {
	text-wrap: wrap;
	color: #4ee682 !important;
}
@media screen and (max-width: 768px) {
	pre code {
		text-wrap: nowrap;
	}
}
pre code span {
	color: #4ee682 !important;
	display: block !important;
}
pre .code-copy-btn {
	background-color: transparent;
	font-weight: normal;
	min-width: initial !important;
	top: 5px;
	right: 10px;
	display: none;
}
pre:hover .code-copy-btn {
	display: block;
}
pre .code-copy-btn:hover {
	background-color: transparent !important;
}
blockquote {
	margin: 0px;
	padding: 8px 20px;
	border-left: 2px solid #a5b347;
	font-size: 12px;
	color: #a5b347;
}
blockquote > p {
	margin: 0px;
}

.ml-custom {
	position: fixed;
	bottom: 0px;
	right: 0px;
}
@media screen and (max-width: 1540px) {
	.ml-custom {
		margin-top: 40px;
		position: relative;
		border-top: 1px dashed #2b824a;
	}
}
.ml-subscribe-form h4 {
	font-family: "JetBrains Mono",monospace !important;
	font-size: 20px !important;
	margin-bottom: 0px !important;
}
.ml-subscribe-form p {
	font-family: "JetBrains Mono",monospace !important;
	font-size: 13px !important;
}
.ml-form-formContent {
	margin-bottom: 5px !important;
}

.ml-field-group > input {
	border: 1px dashed #2b824a !important;
	border-style: dashed !important;
	outline: none;
	font-family: "JetBrains Mono",monospace !important;
	font-size: 13px !important;
	text-align: center !important;
}
@media screen and (max-width: 480px) {
	#header #nav ul li.icon {
	  position: absolute;
	  top: 35px;
	  right: 10px;
	  display: inline-block;
	  margin-right: 0px;
	}
  }

a.post-logo {
	position: fixed;
	left: 20px;
	top: 18px;
	width: 50px;
	height: 50px;
	background-size: 100% !important;
	border-radius: 5px;
}
#header-post {
	top: 28px;
}

.tryhackme-link {
	font-weight: 900;
	font-size: 13px;
}
.project-item ul li {
	font-size: 13px;
	margin-bottom: 20px;
}